body{
    background-color: #e1261c;
    margin-bottom: 30px;
}

   /*.backgroundleft{
     background-image: url(../images/bkg_icons.png);
     background-position: left;
     background-repeat: no-repeat;
     background-size: contain;

   }

   .backgroundright {
     background-image: url(../images/bkg_icons_right.png);
     background-position: right;
     background-repeat: no-repeat;
     background-size: contain;
    }*/

    .roll {
      margin-top: 30px;
    }


.carousel .finalist-thumbnail .nametag {
  font-size: 10px;

}



.header {
background-color: black;



}
.brand{
    text-align: center;}
.brand a img{
    width: 162px;
    margin: auto;}
.navbar {
    text-align: center;
    text-transform: uppercase;}
    .navbar-link {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 10px;
        text-decoration: none;
        line-height: 6.5rem;
        color:#fff; }
    .navbar-link:hover{
        color: #e1261c; }
    .navbar-link.active {
        color: #e1261c; }
.banner img{
    height: auto;
    width: 100%;
    margin:auto;
    display: block;}
.banner, .finalist-roll,.video-highlight{
    margin: 20px auto;
}
.finalist-roll a {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 2px;}
.finalist-roll a:nth-of-type(2n) {
  margin-right: 0;}
.finalist-roll a:hover img {
  transform: scale(1.15);}
.finalist-roll figure {
  margin: 0;}
.finalist-roll img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;}
.video-reel{
    background: url(../images/reel-icon.png);
    width: 59px;
    height: 59px;}
.video-box h3{
    margin-top: 05px; }
    .quote{
        text-align: center;}
.video-box,.finalist-grid,.profil,.rules{
    background: #e1261c;
    /*min-height: 420px;*/
    padding: 30px;}
.video-box iframe{
    border: 2px solid #fff;
    border-radius: 5px;
    width: 100%;}
.title{
    text-transform: uppercase;}
.finalist-thumbnail{
    /*border: 1px solid #fff;*/
    height: auto;
    width: 100%;
    margin-bottom: 10px;}
.finalist-grid .grid{
    margin: 20px auto;}
.finalist-thumbnail figure{
    margin: 0;}
.finalist-thumbnail img{
    border: none;
    max-width: 100%;
    height: auto;
    display: block;}
.finalist-thumbnail .nametag{
    text-transform: uppercase;
    padding: 10px;
    margin-top: -20px;
    width: 90%;
    float: right;
    position: relative;
    background: rgba(0, 0, 0, 0.7);}
.view-profile-button{
    padding: 05px 20px 05px 20px;
    margin-top: -10px;
    /*border: 1px solid #fff;*/
    border-radius: 08px;
    text-align: center;
    text-decoration: none;
    float:right;
    position: relative;
    background: rgb(232, 52, 43);}
    .view-profile-button:hover{
        background: #fff;
        color: #e1261c;}
.foot-notes{
    margin: 30px auto;
    padding-left: 20px;
}
.profil .title{
    text-align: center;}
.agt-logo img, .nescafe-logo img{
    width: 100%;}

ul.social{
    padding: 10px 0px 0 05px;}
ul.social li{
    display: inline-block;}
ul.social li a img{
    border-style: none;
    text-decoration: none;
    width: 40px;}
ul.social li a:hover img{
    transform: scale(1.10);
}
.vote-btn{
    border: 1px solid #fff;
    border-radius: 5px;
    background: #000;
    color: #fff;
    margin: 30px auto;
    display: block;}
.vote-btn img{
    width: 45px;
    float: right;
    margin-right: -70px;
    margin-top: -05px;}
.vote-btn:hover{
    color: #e1261c;
    background: #fff;
}

/* Larger than phone */
@media (min-width: 550px) {
    .navbar-link {
        font-size: 15px;
        font-weight: 600;}
    .agt-logo img, .nescafe-logo img{
        width: 100%;}
    ul.social li a img{
        width: 30px;}
    .agt-si{
      padding-top: 30px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    /* Navbar */
    .navbar {
      display: block;
      width: 100%;
      height: 6.5rem;}
    .navbar > .container {
      width: 100%; }
    .navbar-link {
        font-size: 16px;
        font-weight: 600;
        margin-right: 25px;}
    .finalist-roll a {
        width: calc(25% - 6px);}
    .finalist-roll a:nth-of-type(2n) {
        margin-right: 4px;}
    .finalist-roll a:nth-of-type(4n) {
        margin-right: 0;}
    .video-box video{
        width: 95%;
        margin: 15px;}
    .finalist-thumbnail{
    /*margin: 0;*/}
    .video-box iframe{
        min-height: 300px;}
    .agt-logo{
        margin-left: 30px;
        padding-top: 40px;}
    .agt-logo img, .nescafe-logo img{
        width: 100%;}
    ul.social li a img{
        width: 40px;}
    .agt-si{
        padding-top: 18px !important;
    }

}

/* Font */
@font-face {
  font-family: "Nescafe Sans";
  src: url("../font/nescafe_sans-regular-webfont.eot");
  src: url("../font/nescafe_sans-regular-webfont?#iefix.eot") format("embedded-opentype"), url("../font/Nescafe Sans-Regular.otf") format("opentype"), url("../font/nescafe_sans-regular-webfont.woff") format("woff"), url("../font/nescafe_sans-regular-webfont.woff2") format("woff2"), url("../font/nescafe_sans-regular-webfont.ttf") format("truetype"), url("../font/nescafe_sans-regular-webfont.svg#Nescafe") format("svg");
  font-weight: "normal";
  font-style: "normal"; }

@@font-face {
    font-family: "Nescafe Sans Bold";
    src: url("../font/nescafe_sans-bold-webfont.eot");
    src: url("../font/nescafe_sans-bold-webfont?#iefix.eot") format("embedded-opentype"), url("../font/Nescafe Sans-Bold.otf") format("opentype"), url("../font/nescafe_sans-bold-webfont.woff") format("woff"), url("../font/nescafe_sans-bold-webfont.woff2") format("woff2"), url("../font/nescafe_sans-bold-webfont.ttf") format("truetype"), url("../font/nescafe_sans-bold-webfont.svg#Nescafe") format("svg");
    font-weight: "bold";
    font-style: "normal";}

@@font-face {
    font-family: "Nescafe Sans Italic";
    src: url("../font/nescafe_sans-italic-webfont.eot");
    src: url("../font/nescafe_sans-italic-webfont?#iefix.eot") format("embedded-opentype"), url("../font/Nescafe Sans-Italic.otf") format("opentype"), url("../font/nescafe_sans-italic-webfont.woff") format("woff"), url("../font/nescafe_sans-italic-webfont.woff2") format("woff2"), url("../font/nescafe_sans-italic-webfont.ttf") format("truetype"), url("../font/nescafe_sans-bold-webfont.svg#Nescafe") format("svg");
    font-weight: "normal";
    font-style: "italic";}



@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Nescafe Sans Bold";
    src: url("../font/Nescafe Sans-Bold.otf") format("opentype"); }
}
